@font-face {
    font-weight: 400;
    font-family: 'GraphikLCG';
    src: url(../fonts/GraphikLCG-Regular.woff2);
}

@font-face {
    font-weight: 500;
    font-family: 'GraphikLCG';
    src: url(../fonts/GraphikLCG-Medium.woff2);
}

@font-face {
    font-weight: 600;
    font-family: 'GraphikLCG';
    src: url(../fonts/GraphikLCG-Semibold.woff2);
}